<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ToDo by Backbone.js</title>
    <style>
        .completed {
            text-decoration: line-through;
            color: gray;
        }
    </style>
</head>
<body>
    
    <h1>Tasks</h1>
    
    <form id="addTask">
        <input type="text" id="title">
        <input type="submit" value="add">
    </form>
    
    <div id="tasks"></div>
    
    <script type="text/template" id="task-template">
        <input type="checkbox" class="toggle" <%= completed ? "checked" : "" %>>
        <span class="<%= completed ? "completed" : "" %>">
            <%= title %>
        </span>
        <span class="delete">[x]</span>
    </script>
    
    <script src="js/underscore.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/backbone-min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>